.menu {
   width: 300px;
   height: 100vh;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 10;

   // delete later
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   font-weight: bold;
}

